# Ignore .env file
.env

# Ignore node_modules
node_modules/

# Ignore log files
*.log
yarn-error.log

# Ignore build output
dist/
build/

# Ignore system files
.DS_Store

# Ignore other secrets
*.key
*.pem